body{
	font-family: 'Raleway', sans-serif;
}


.logo{
	width: 198px;
	padding-top: 3px;
}


.navbar-nav > li > a {
	padding-top:14px !important; 
	padding-bottom:5px !important;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 13px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white !important;
    background-color: #4E425E !important;
}

.navbar-default {
  background-color:black !important;
 }

.navbar {
	min-height:65px !important;
}

.navbar-nav > li > a {
    padding-top:23px !important;
    padding-bottom: 0px;
    min-height: 65px;
}

.nav .navbar-nav{
	float: right!important;
}

li{
	min-height:65px !important;
}

/*END NAVIGATION*/
/*START BOX*/
.box{
	width: 100%;
	height: 100vh;
	background-image: url(../images/background-01.png);
	background-size: cover;
}

/*END BOX*/
/*START ATRACTIONS*/

.title{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding-top: 20px;

}

.imagen{
  	padding-right:0 !important;
  	padding-left:0 !important;
}

.rowExhibitions{
	padding-top: 20px;
	padding-bottom: 60px;
}




#intro { 
	background: url(../images/chairBackground-01-01.png)  0 fixed; 
	background-repeat: repeat-y;
	height: 400px; 
	/*margin-top: 60px;*/ 
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	padding-top:90px;
	padding-left: 100px;
	background-size: cover;
	color: white
	padding-right:0 !important;
  	padding-left:0 !important;

}

.parallax-text{
	color: white;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 400;
	font-size: 50px;
	padding-left: 100px;
}
.parallax-author{
	color: white;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 400;
	font-size: 15px;
	padding-right:100px;
	float: right;
}

/*INFO MUSEUM*/

.info-museum{
	text-align: center;
	padding-top: 50px;
}

.text-museum{
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 400;
	color:#414042;
}

.logo-south{
	width: 240px;
	
}

.row-logo{
	margin:50px auto;
	text-align: center;

}

.social-media{
	width: 50px;
	padding: 0 5px;
}

footer{
	background-color: #4E425E;
	height: 60px;
}

.text-footer{
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 400;
	padding-top: 20px;
}

.text-footer-link{
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 400;
	padding-top: 20px;
}
.text-footer-link:hover{
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 700;
	padding-top: 20px;
}

.logo-white{
	padding-top: 32%;
	width: 500px;
}

.logo-white-box{
	margin: 0 auto;
	text-align: center;
}

/*EXHIBTION PAGE*/

.box-exhibition{
	width: 100%;
	height: 50vh;
	background-image: url(../images/exhibition-top-01.jpg);
	background-size: cover;
}

.text-exhibition{
	padding-top: 17%;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.paragraph-exhibition{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 10px;
	text-align: right;
	padding: 0 10px;
}

.chair-name{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 10px;
	text-align: center;
	padding: 15px 10px 10px 10px;
}

.row-chairs{
	padding-top: 20px;
	padding-bottom: 20px;
}
